*.pyc
build/
dist/
htmlcov/
.ropeproject/
MANIFEST
control/_version.py
__conda_*.txt
record.txt
build.log
*.egg-info/
.coverage
doc/_build
doc/generated
examples/.ipynb_checkpoints/
.settings/org.eclipse.core.resources.prefs
.pydevproject
.project
Untitled*.ipynb
*.idea/
