numpydoc==0.4
mock==1.0.1
# install sphinx from git to get patched version
# (fixes bug in autosummary where tables do not display)
-e git://github.com/sphinx-doc/sphinx.git@stable#egg=Sphinx-origin_stable

